@charset "UTF-8";

@font-face {
    font-family: 'imager';
    src: url('Imager-Stylist.otf') format('opentype'), url('Imager.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'imager';
}