@charset "UTF-8";

h1 {
    margin-bottom: 0px;
}

p.subtitle {
    font-style:italic ;
    margin-top: 0%;
    text-indent: 10px;
}

table {
    width: 300px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    font-size: 1.7em;
    font-variant: small-caps;
    padding-bottom: 10px;
}

tr.linha {
    background-image: linear-gradient(to right, purple, aqua);
    vertical-align: middle;
    text-align: center;
}

tr.linha td {
    padding-left: 0%;
}

td {
    border: 1px black solid;
    padding-left: 10px;
    padding-top: 3px;
}

span.destaque {
    font-variant: small-caps;
}

div.content-table {
    margin: auto;
}

table.grande {
    width: 90vw;
    height: 500px;
    margin: auto;
    border-spacing: 1px;
}

th.coluna-pequena {
    width: 20%;
}

table.grande th {
    border-collapse: separate;
    border: solid 1px black;
    background-color: rgba(223, 214, 214, 0.644);
    padding: 20px;
    position: relative;
}

table.grande th {
    position: sticky;
    top: 0px;
    background-color: gray;
}

table.grande td {
    padding-left: 0%;
    border: solid, 1px, rgba(0, 0, 0, 0.37);
}

table.grande tr:nth-child(2n) {
    background-color: rgba(70, 131, 180, 0.226);
}

td.coluna-posição {
    text-align: center;
}

td.coluna-federativa {
    padding-left: 10px;
}

td.coluna-federativa a {
    text-decoration: none;
    color: rgb(68, 68, 255);
    padding-left: 10px;
}

td.coluna-federativa a::after {
   content: "🔗";
   margin-left: 5px;
}

td.coluna-população {
    text-align: right;
    padding-right: 10px;
}

td.coluna-porcent_população {
    text-align: center;
}

table.vertical-grande {
    margin: auto;
    width: 90vw;
    border-spacing: 0px;
    border: solid 1px black;
    border-bottom: none;
}

table.vertical-grande {
    margin-bottom: 0%;
}

table.vertical-grande th {
    border-collapse: separate;
    border: solid 1px black;
    background-color: rgba(223, 214, 214, 0.644);
    padding: 20px;
}

table.vertical-grande td {
    text-align: center;
    padding-left: 0%;
    border: solid, 1px, rgba(0, 0, 0, 0.37);
}

table.vertical-grande tr td:nth-child(2n){
    background-color: rgba(70, 131, 180, 0.226);
}

table.vertical-grande a {
    text-decoration: none;
    color: rgb(68, 68, 255);
    padding-left: 10px;
}

table.vertical-grande a::after {
    content: "🔗";
    margin-left: 5px;
}

table.total {
    margin: auto;
    width: 90vw;
    height: 15vh;
    border-spacing: 0px;
}

table.total td {
    width: 79.6%;
    border: solid, 1px, rgba(0, 0, 0, 0.61);
    background-color: rgba(153, 205, 50, 0.705);
    text-align: center;
    font-size: 1.3em;
}

table.total th {
    background-color: rgba(0, 0, 0, 0.384);
    border: solid 1px black;
    font-variant: small-caps;
}

table.mesclada {
    margin: auto;
    border-spacing: 0px;
    width: 70vw;
}

table.mesclada td {
    text-align: center;
    vertical-align: center;
}