@charset "UTF-8";

* {
    padding: 0%;
    margin: 0%;
}

header {
    background-color: gray;
    padding: 10px;

    display: flex;
    align-items:center;
}

header .title-contain {
    margin-right: 15px;
}

header .menu:hover {
    transition: 2.5s;
    background-color: white;
    padding: 5px;
}