@charset "UTF-8";

* {
    margin: 0% ;
    padding: 0%;
}

body {
    width: 100vw;
    height: 100vh;
    background: black url(../Imagens/gerais/print_tela_celular.png)no-repeat top center;
    background-size: cover;
}