@charset "UTF-8";

body {
    height: 100vh;

    /*background: color, image, position, repeat, size, attachment ;*/

    background: black url(../imagens/wallpaper002.jpg) top center no-repeat fixed;
    background-size: cover;

}

main {
    background-color: white;
    margin: auto;
    width: 300px;

    text-align: justify;
    padding: 5px;

    border-radius: 0px 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.473);
}